<div class="progress-bar">
    <label for="progress-bar-container" class="active">Progress Bar</label>
    <!-- {{ checkProgressBarComponent() }} -->
    <div class="progress-number-content">
        <input
            class="progress-number"
            type="number"
            name="progressBar"
            min="0"
            max="100"
            step="10"
            [attr.value]="progressBar"
            (change)="sendProgressBarRef($event)"
        >
        <div class="percent">
            <span>%</span>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-size" [ngStyle]="{width: progressBar + '%'}"></div>
    </div>
</div>