<div class="task" *ngIf="task">
    <a class="dropdown-trigger" [attr.data-target]="dataTargetTask">
        <i class="fa fa-ellipsis-v"></i>
    </a>
    <!-- task options in dropdown -->
    <ul [attr.id]="dataTargetTask" class='dropdown-content'>
        <li [routerLink]="['/tasks/edit', task.id]">
            <a class="dropdown-link">
                <i class="fa fa-edit"></i>
                Edit
            </a>
        </li>
        <li (click)="deleteTask($event, task)">
            <a class="dropdown-link">
                <i class="fa fa-trash"></i>
                Delete
            </a>
        </li>
    </ul>

    <div id="task-name" class="name">{{ task.name }}</div>
    <div class="task-footer">
        <div class="date"><b>Delivery Date:</b> {{ task.deliveryDate }}</div>
        <div class="progress-status">
            <b>Done:</b>
            <span
                class="status"
                [ngClass]="{
                    'todo': task.progressBar == 0,
                    'in-progress': task.progressBar > 0,
                    'done': task.progressBar == 100
                }"
            >
                [{{ task.progressBar || 0 }}/100] %
            </span>
        </div>
    </div>
</div>