<div class="task">
    <a class="dropdown-trigger" data-target="dropdown-task-options">
        <i class="fa fa-ellipsis-v"></i>
    </a>
    <!-- task options in dropdown -->
    <ul id="dropdown-task-options" class='dropdown-content'>
        <li><a class="dropdown-link" href="#">Edit</a></li>
        <li><a class="dropdown-link" href="#">Delete</a></li>
    </ul>

    <div class="name">taskName</div>
    <div class="task-footer">
        <div class="date"><b>Date:</b> updateDate</div>
        <div class="status"><b>Status:</b> status</div>
    </div>
</div>