@import '../../../variables';

.header {
    nav {
        background: $mainColor;
        .brand-logo {
            font-size: 1.7rem;
        }
        .fa {
            font-size: 22px;
        }
        .search-field {
            display: flex;
            margin-right: 20px;
            input {
                color: #FFF;
            }
        }
    }
}