@import '../../../variables';

.header {
    nav {
        background: $mainColor;
        .brand-logo {
            font-size: 1.7rem;
        }
        .fa {
            font-size: 22px;
        }
    }
}