<div class="list-task-container">
    <div class="list-task">
        <div class="list-task-name">
            Task List
            <i class="fa fa-plus"></i>
        </div>
        <div *ngFor="let task of tasks">
            <app-task [task]="task"></app-task>
        </div>
        <div class="footer">
            <button class="btn-sc btn-sc-primary btn-sc-sm">
                <i class="fa fa-plus icon-left"></i>
                <span>Add Task</span>
            </button>
        </div>
    </div>
</div>