<div class="list-task-container">
    <div class="list-task">
        <div class="list-task-name">
            Task List
            <span class="badge badge-dark">{{ tasks.length }}</span>
            <i class="fa fa-plus add-task" [routerLink]="['/tasks/register']"></i>
        </div>
        <div *ngFor="let task of tasks; let keyTask = index">
            <app-task
                [task]="task"
                [keyTask]="keyTask"
            >
            </app-task>
        </div>
        <div class="footer">
            <button
                class="btn-sc btn-sc-primary btn-sc-sm"
                [routerLink]="['/tasks/register']"
            >
                <i class="fa fa-plus icon-left"></i>
                <span>Add Task</span>
            </button>
        </div>
    </div>
</div>